[Unit]
Description=Binary Kitchen doorlockd service
After=network.target

[Service]
User=doorlock
Group=doorlock
ExecStart=doorlockd

[Install]
WantedBy=multi-user.target

