[Unit]
Description=Binary Kitchen doorstate service
After=network.target

[Service]
User=doorlock
Group=doorlock
ExecStart=doorstate

[Install]
WantedBy=multi-user.target

