[Unit]
Description=Binary Kitchen doorstate service
After=network.target network-online.target

[Service]
User=root
Group=root
ExecStart=doorstate

[Install]
WantedBy=multi-user.target

