{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%- block metas %}
{{super()}}
<meta name="apple-mobile-web-app-capable" content="yes">
{%- endblock metas %}

{% block content %}
<h1 class="text-center">Binary Kitchen Doorlock</h1>
<div class="row">
	<div class="col-md-3 text-center">
		<img src="{{ led }}">
	</div>
	<div class="col-md-8">
		{{ wtf.quick_form(authentication_form, button_map={'open': 'success btn-lg btn-block', 'close': 'danger btn-lg btn-block'}) }}
		{% if response %}
		<hr/>
		<h1>{{ response.to_html() }}</h1>
		{%  endif %}
		<hr/>
		Die Kitchen ist: {{ state_text }}
	</div>
</div>
{{ super() }}
{% endblock %}
