[Unit]
Description=Binary Kitchen doorlockd service
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/local/share/doorlockd/doorlockd-start
ExecStop=/usr/local/share/doorlockd/doorlockd-stop

[Install]
WantedBy=multi-user.target

