[Unit]
Description=Binary Kitchen doorlockd service
After=network.target

[Service]
User=root
Group=root
EnvironmentFile=-/etc/sysconfig/doorlockd
ExecStart=/usr/local/sbin/doorlockd -f

[Install]
WantedBy=multi-user.target

