{% extends "layout.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="static/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port)
        socket.on('connect', function() {
            socket.emit('connected');
        });
        socket.on('status', function(status) {
            $('#led').attr('src', status.led)
            $('#message').html(status.message)
        });
    });
    </script>
{% endblock %}

{% block content %}
<h1 class="text-center">Willkommen in der Binary Kitchen!</h1>
<div class="row">
	<div class="col-md-3 text-center">
		<img id="led" src="">
		<div id="message"></div>
	</div>
	<div class="col-md-8">
		<!-- Here's still space left! -->
	</div>
</div>
{{ super() }}
{% endblock %}
